# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#gmaps
%matplotlib inline


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
city_weather_df = pd.read_csv("../output_data/cities.csv")
city_weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Camocim,-2.9022,-40.8411,81.72,81,100,9.69,BR,1615994063
1,Iqaluit,63.7506,-68.5145,-11.00,64,75,2.17,CA,1615993901
2,Tuatapere,-46.1333,167.6833,43.00,90,4,3.42,NZ,1615994064
3,Port Alfred,-33.5906,26.8910,73.26,81,68,14.90,ZA,1615994064
4,San Cristobal,7.7669,-72.2250,75.20,100,75,4.36,VE,1615994064

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [28]:

# Configure gmaps
gmaps.configure(api_key=g_key)

#new 
# Store latitude and longitude in locations
locations = city_weather_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = city_weather_df["Humidity"]

In [29]:
#new
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 70 and 80
narrowed_city_df = city_weather_df.loc[(city_weather_df["Wind Speed"] <= 10) & (city_weather_df["Clouds"] == 0) & \
                                   (city_weather_df["Max Temp"] > 70) & (city_weather_df["Max Temp"] < 80)].dropna()

narrowed_city_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
62,Gaozhou,21.9392,110.8461,74.55,79,0,6.17,CN,1615994080
177,Kwinana,-32.2500,115.7667,71.01,94,0,6.91,AU,1615994112
216,Vallenar,-28.5708,-70.7581,74.68,35,0,6.82,CL,1615994123
220,Tura,25.5198,90.2201,71.78,22,0,2.66,IN,1615994124
254,Tomatlán,19.9333,-105.2500,73.90,37,0,1.23,MX,1615994134
266,São Filipe,14.8961,-24.4956,72.77,73,0,7.58,CV,1615994137
307,Qiongshan,20.0058,110.3542,73.40,88,0,4.47,CN,1615994149
482,Teknāf,20.8624,92.3058,74.97,60,0,6.38,BD,1615994199
516,Pyapon,16.2833,95.6833,75.07,66,0,7.81,MM,1615994208

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

           City Country      Lat       Lng Hotel Name
62      Gaozhou      CN  21.9392  110.8461
177     Kwinana      AU -32.2500  115.7667
216    Vallenar      CL -28.5708  -70.7581
220        Tura      IN  25.5198   90.2201
254    Tomatlán      MX  19.9333 -105.2500
266  São Filipe      CV  14.8961  -24.4956
307   Qiongshan      CN  20.0058  110.3542
482      Teknāf      BD  20.8624   92.3058
516      Pyapon      MM  16.2833   95.6833

In [34]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [36]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 62: Gaozhou.
Closest hotel in Gaozhou is Gaozhou Hotel.
------------
Retrieving Results for Index 177: Kwinana.
Closest hotel in Kwinana is Quest Rockingham.
------------
Retrieving Results for Index 216: Vallenar.
Closest hotel in Vallenar is Hotel Solaris.
------------
Retrieving Results for Index 220: Tura.
Closest hotel in Tura is Dongrama Home Stay, Tura Meghalaya.
------------
Retrieving Results for Index 254: Tomatlán.
Closest hotel in Tomatlán is Hotel Misión San Miguel.
------------
Retrieving Results for Index 266: São Filipe.
Closest hotel in São Filipe is La Fora Ecolodge.
------------
Retrieving Results for Index 307: Qiongshan.
Closest hotel in Qiongshan is Hilton Haikou.
------------
Retrieving Results for Index 482: Teknāf.
Closest hotel in Teknāf is Central Resort Ltd..
------------
Retrieving Results for Index 516: Pyapon.
Closest hotel in Pyapon is Swe Tha Har - Guest House.
------------
-------End of Search-------

In [37]:
#display df head
hotel_df.head()

         City Country      Lat       Lng                          Hotel Name
62    Gaozhou      CN  21.9392  110.8461                       Gaozhou Hotel
177   Kwinana      AU -32.2500  115.7667                    Quest Rockingham
216  Vallenar      CL -28.5708  -70.7581                       Hotel Solaris
220      Tura      IN  25.5198   90.2201  Dongrama Home Stay, Tura Meghalaya
254  Tomatlán      MX  19.9333 -105.2500             Hotel Misión San Miguel

In [38]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#do I save the fig or just display??? ask